streamlit
openai
tensorflow
numpy 
Pillow
reportlab
googlemaps
streamlit-folium
folium
streamlit-js-eval
google-generativeai  
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
